
<% @users.each do |user| %>
 
<div class="userlist">
  <p><%= user.full_name %></p><br>

  <%= link_to 'Cards', user_cards_path(user) %>

  <%= link_to 'Edit', edit_user_path(user) %>
</div>
<% end %>
