<div class='insert'>
<% @users.each do |user| %>
 
<div class='insertform'>
  <p><%= user.full_name %>

  <%= link_to 'Cards', user_cards_path(user) %>

  <%= link_to 'Edit', edit_user_path(user) %></p>
</div>
<% end %>
</div>
